.game {
  .table-wrapper {
    width: 100%;
    .game-table {
      margin: 0 auto;
      th,
      td {
        padding: 4px 16px;
      }
      th {
        width: 128px;
      }
      td {
        .wrapper {
          display: flex;
        }
        .display {
          width: 64px;
        }
      }
      .calculation-cell {
        display: flex;
        gap: 8px;
        align-items: center;
        .calculate-button {
          width: 24px;
          height: 24px;
          border-radius: 4px;
          // overflow: hidden;
          position: relative;
          flex: 0 0;
          cursor: pointer;
          // Browser bug that if I write 'background-color: #fff;' here, the rounded corners
          // would be rendered with artifacts. Using '::before' instead.
          &::before {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: 2px;
            left: 2px;
            background: #fff;
            z-index: -1;
          }
          .svg-icon {
            width: 32px;
            height: 32px;
            color: rgb(29, 155, 214);
          }
        }
      }
    }
  }
  .actions {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 16px 32px;
    .action-button {
      height: 24px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      padding: 4px 6px 4px 4px;
      gap: 4px;
      cursor: pointer;
      .svg-icon {
        width: 16px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .game .table-wrapper .game-table {
    th,
    td {
      width: 80px;
      padding: 4px 0;
    }
  }
}
@media only screen and (max-width: 400px) {
  .game .table-wrapper .game-table {
    font-size: 12px;
    th,
    td {
      width: 60px;
    }
  }
}
.undo,
.component-with-modal .options.undo {
  background-color: rgb(118, 67, 160);
}
.reset-game,
.component-with-modal .options.reset-game {
  background-color: rgb(219, 28, 102);
}
