.select-input {
  position: relative;
  width: 64px;
  height: 24px;
  .display {
    width: 64px;
    height: 24px;
    background-color: #ffffff20;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    display: grid;
    place-content: center;
    .placeholder {
      color: #777;
    }
  }
}
@media only screen and (max-width: 600px) {
  #root .select-input,
  #root .select-input .display {
    width: 48px;
  }
}
